body{
	background:#f3f3f3;
}
#wrapper{
	padding:90px 15px;
}
.navbar-expand-lg .navbar-nav.side-nav{
	flex-direction: column;
}
.header-top{
	box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
@media(min-width:992px) {
	#wrapper{
		margin-left:70px
	}
	.navbar-nav.side-nav{
		text-align:center;
		background: #585f66;
		box-shadow: 2px 1px 2px rgba(0,0,0,.1);
		position:fixed;
		top:59px;
		flex-direction: column!important;
		left:0px;
		width:180px;
		bottom:0;
		padding-bottom:40px
	}
	.side-nav li { 
		border-bottom: 1px solid #50575d;
	}
	.side-nav li a {
		padding: 20px;
		display:block;
		position:relative;
	}
	.navbar-nav li a svg{
		font-size: 25px;
		margin: 0 10px 0 5px;
	}
	.container-fluid {
    	padding-left: 130px;
    }
}