<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Management App Index</title>
		<link rel="stylesheet" href="../css/normalize.css"/>
		<link rel="stylesheet" href="../css/bootstrap.css"/>
		<link rel="stylesheet" href="../css/styles.css"/>
		<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="../js/popper.js"></script>
		<script type="text/javascript" src="../js/bootstrap.js"></script>
		<script type="text/javascript" src="../fontawesome/js/all.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<span th:insert="fragments/menu :: menu"></span>
			<div class="container-fluid">
      			<div class="row">
        			<div class="col">
          				<form action="#" th:action="@{/directoryentry/add-directoryentry}" th:object="${directoryEntry}" method="post">
						  <div class="form-row">
						  	<div class="form-group col-md-4">
						      <label for="name">Nombre</label>
						      <input type="text" class="form-control" id="name" placeholder="Nombre" th:field="*{name}">
						    </div>
						    <div class="form-group col-md-4">
						      <label for="surname1">Apellido 1</label>
						      <input type="text" class="form-control" id="surname1" placeholder="Apellido 1" th:field="*{surname1}">
						    </div>
						    <div class="form-group col-md-4">
						      <label for="surname2">Apellido 2</label>
						      <input type="text" class="form-control" id="surname2" placeholder="Apellido 2" th:field="*{surname2}">
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputEmail4">Email</label>
						      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" th:field="*{email}">
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputPassword4">Password</label>
						      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputAddress">Address</label>
						    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" th:field="*{address}">
						  </div>
						  <div class="form-row">
						    <div class="form-group col-md-4">
						      <label for="inputCity">City</label>
						      <input type="text" class="form-control" id="inputCity">
						    </div>
						    <div class="form-group col-md-3">
						      <label for="inputState">CCAA</label>
						      <select id="inputState" class="form-control">
						        <option selected value="">...</option>
						        <option th:each="ccaa : ${ccaaList}"
			                           th:value="${ccaa.id}"
			                           th:utext="${ccaa.name}"/>
						      </select>
						    </div>
						    <div class="form-group col-md-3">
						      <label for="inputState">Provincia</label>
						      <select id="province" class="form-control" th:field="*{telephone}">
						        <option selected value="">...</option>
						        <option th:each="provinceBean : ${provinceList}"
			                           th:value="${provinceBean}"
			                           th:utext="${provinceBean.name}"/>
						      </select>						      
						    </div>
						    <!-- <select th:field="*{gender}">
								    <option th:value="'M'" th:text="Male"></option>
								    <option th:value="'F'" th:text="Female"></option>
								</select> -->
						    <div class="form-group col-md-2">
						      <label for="inputZip">Zip</label>
						      <input type="text" class="form-control" id="inputZip">
						    </div>
						  </div>
						  <button type="submit" class="btn btn-primary">Sign in</button>
						</form>
					</div>        
				</div>
			</div>
		</div>
	</body>
</html>